In [6]:
#1
f=[]
c=[]
n=int(input("number of temperatures:"))
for i in range(n):
    temp=int(input("enter the temperature: "))
    f.append(temp)
print("fahrenheit",f)
for k in f:
    k = k * (-17.2)
    c.append(k)
print("celsius:",c)

number of temperatures:5
enter the temperature: 23
enter the temperature: 45
enter the temperature: 67
enter the temperature: 78
enter the temperature: 98
fahrenheit [23, 45, 67, 78, 98]
celsius: [-395.59999999999997, -774.0, -1152.3999999999999, -1341.6, -1685.6]

In [38]:
#2
l=["three mistakes of my life","chetan bhagat"]
s=dict()
for i in range(len(l)-1):
    s.update({l[i]:l[1]})
print(s)

{'three mistakes of my life': 'chetan bhagat'}

In [49]:
#3
l=[]
n=int(input("enter the number of elements you want:"))
for i in range(n):
    grocery=input("Enter the name of grocery:")
    price=int(input("Enter the price of respective grocery"))
    l.append(grocery)
    l.append(price)
print(l)
sum=0
for i in l:
    if type(i)==int:
        sum =sum + i
print("total is",sum)

enter the number of elements you want:2
Enter the name of grocery:paalak
Enter the price of respective grocery23
Enter the name of grocery:muli
Enter the price of respective grocery45
['paalak', 23, 'muli', 45]
total is 68

In [162]:
#4
n=int(input("enter the number of movies:"))
s=dict()
l=[]
l1=[]
for i in range(n):
    ele=input("enter the name of movie:")
    val=float(input("enter the ratings"))
    s.update({val:ele})
print("List of movies",list(s.items()))
for k,v in s.items():
    l.append(k)
l.sort(reverse=True)
for i in l:
    l1.append(s[i])
print(l1)

enter the number of movies:4
enter the name of movie:Chak De India
enter the ratings4.8
enter the name of movie:Mai Hoon Na
enter the ratings4.5
enter the name of movie:Rab Ne Bana Di Jodi
enter the ratings4.9
enter the name of movie:Ra-One
enter the ratings5
List of movies [(4.8, 'Chak De India'), (4.5, 'Mai Hoon Na'), (4.9, 'Rab Ne Bana Di Jodi'), (5.0, 'Ra-One')]
['Ra-One', 'Rab Ne Bana Di Jodi', 'Chak De India', 'Mai Hoon Na']

In [172]:
#5
n=int(input("number of students"))
p=dict()
l=[]
l1=[]
l2=[]
s=dict()
for i in range(n):
    name=input("enter the student's name:")
    grade=float(input("enter the grade of respective student:"))
    p.update({name:grade})
print("list of students",list(p.items()))
for k,v in p.items():
    l.append(k)
    l1.append(v)
    
sum=0
for j in (l1):
    sum=sum+j
avg=sum/len(l1)

for m in l:
    s.update({m:avg})
print(s)

number of students4
enter the student's name:gyan chand
enter the grade of respective student:8.8
enter the student's name:dhyan chand
enter the grade of respective student:9.8
enter the student's name:prem chand
enter the grade of respective student:6.8
enter the student's name:mool chand
enter the grade of respective student:10.0
list of students [('gyan chand', 8.8), ('dhyan chand', 9.8), ('prem chand', 6.8), ('mool chand', 10.0)]
{'gyan chand': 8.850000000000001, 'dhyan chand': 8.850000000000001, 'prem chand': 8.850000000000001, 'mool chand': 8.850000000000001}

In [178]:
#6
class inventory:
    def __init__(shop,item_name,quantity,price):
        shop.item_name=name
        shop.quantity=quantity
        shop.price=price
retailer=inventory("daal",50,1500)
print(retailer.quantity)
print(retailer.price)

50
1500

In [179]:
#7
class employee:
    def __init__(ai,name,age,salary):
        ai.name=name
        ai.age=age
        ai.salary=salary
xiyong=employee("xiyong",19,400000000000)
print(xiyong.salary)

400000000000

In [183]:
#8
class account:
    def __init__(ni,acc_no,bal,int_rate):
        ni.acc_no=acc_no
        ni.bal=bal
        ni.int_rate=int_rate
xiyong=account("7867676776",19,400000000000)
print(xiyong.acc_no)

7867676776

In [184]:
#9
class patient:
    def __init__(su,name,age,medical_history):
        su.name=name
        su.age=age
        su.medical_history=medical_history
ducim=patient("ducim","1081","nil")
print(ducim.age)

1081

In [185]:
#10
class order:
    def __init__(tu,cust_n,order_detail,total_amount):
        tu.cust_n=name
        tu.order_detail=order_detail
        tu.total_amount=total_amount
tirak=order("tirak","soap",786556)
print(tirak.order_detail)

soap