In [1]:
#1

In [2]:
list=[]

In [4]:
#2
l=["guava","pomegranate","apple","papaya"]

In [5]:
#3
l=["papaya",12334,{'country':'India'},456.83,{67,67,88}]

In [7]:
#4 code to check a particular element in the list
list= [44,66,88,9,99]
c=int(input("enter"))
if c in list:
    print("true")
else:
    print("false")

enter100
false

In [9]:
#5
l=[34,45,66,34,56]
l[2]

66

In [25]:
#6
l=[12,34,44,56,78,67,89,67,100,56,34]
p=[]
q=[]
for i in range(0,3):
    p.append(l[i])

for i in range(3,10):
    q.append(l[i])
    
p

[12, 34, 44]

In [27]:
#7
l=[12,34,56,67,78,90]
l.append(45)
l

[12, 34, 56, 67, 78, 90, 45]

In [53]:
#8
s=[12,34,56,787,78,65,43,21]
for i in range(len(s)):
    print(-i,s[-i])

0 12
-1 21
-2 43
-3 65
-4 78
-5 787
-6 56
-7 34

In [54]:
len(s)

8

In [55]:
#tuple

In [57]:
#1 tuples have ( ) brackets whereas lists have []bracket ,tuples are mainly defined by comma sepration after the last element

t=(32,)

In [62]:
#2 python programme to create tuple
p=int(input("enter the number of elements :"))
t=[]
for i in range(0,p):
    ele=int(input("enter the elements"))
    t.append(ele)
tuple(t)

enter the number of elements :1
enter the elements1

(1,)

In [68]:
#3 python program to create tuple with different data types
s=int(input("enter the number of elements:"))
k=[]
for i in range(0,s):
    ele=eval(input("enter the elements:"))
    k.append(ele)
tuple(k)

enter the number of elements:2
enter the elements:"human"
enter the elements:34

('human', 34)

In [70]:
#4 python program to create tuple with numbers
l=int(input("enter the number of elements"))
m=[]
for i in range(0,l):
    ele=int(input("enter the elements:"))
    m.append(ele)
m=tuple(m)
for i in m:
    print(i)

enter the number of elements2
enter the elements:2
enter the elements:3
2
3

In [78]:
#5 python program to add an item in a tuple
t=(23,34,56)
l=[]
for i in t:
    l.append(i)
m=eval(input("enter the new element:"))
l.append(m)
tuple(l)

enter the new element:34

(23, 34, 56, 34)

In [98]:
#6 Write a Python program to get the 4th element and 4th element from the last
#of a tuple?
s=(12,34,56,787,78,65,43,21)
for i in range(len(s)):
    if i==3:
        print(s[i])

for i in range(-len(s),1):
    if i == -4:
        print(s[i])

787
78

In [99]:
#7 Check Whether an element exist in tuple

In [100]:
t=(34,45,67,67,78,78)
ele=eval(input("enter the element you want to find"))
if ele in t:
    print("it exists")
else:
    print("it doesnt exist")

enter the element you want to find45
it exists

In [3]:
#8 remove an item from tuple
t=(34,45,67,67,78,78)
l=[]
n=eval(input("enter the item you want to remove:"))
for i in t:
    l.append(i)
l.remove(n)
tuple(l)

enter the item you want to remove:34

(45, 67, 67, 78, 78)

In [6]:
#9 slice a tuple
t[2:5]

(67, 67, 78)

In [121]:
#10 length of tuple
count=0
for i in t:
    count=count+1
print(count)

6

In [127]:
#11 
n=eval(input("enter the number of elements:"))
l=[]
for i in range(n):
    ele = eval(input("element insertion:"))
    l.append(ele)
print(tuple(l))

enter the number of elements:3
element insertion:100
element insertion:200
element insertion:300
(100, 200, 300)