In [17]:
import pandas as pd
import numpy as np
#1

In [18]:
df=pd.read_csv("/content/IT Salary Survey EU  2020.csv")

In [19]:
df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

In [20]:
df.tail()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
1248,18/01/2021 15:05:50,31.0,Male,Berlin,Backend Developer,9,5,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",...,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes,NaN,NaN
1249,18/01/2021 17:46:02,33.0,Male,Berlin,Researcher/ Consumer Insights Analyst,10,1.5,Senior,consumer analysis,NaN,...,2500,unlimited,Full-time employee,Unlimited contract,English,1000+,Product,No,NaN,0
1250,18/01/2021 23:20:35,39.0,Male,Munich,IT Operations Manager,15,2,Lead,PHP,"Python, C/C++, Javascript / Typescript, Java /...",...,NaN,28,Full-time employee,Unlimited contract,English,101-1000,eCommerce,No,NaN,NaN
1251,19/01/2021 10:17:58,26.0,Male,Saarbrücken,Frontend Developer,7,7,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",...,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,NaN,0
1252,19/01/2021 12:01:11,26.0,Male,Berlin,DevOps,2,2,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",...,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30.0,600

In [21]:
df.shape

(1253, 23)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 23 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                1253 non-null   object
 1   Age                                                                                                                      1226 non-null   float64
 2   Gender                                                                                                                   1243 non-null   object
 3   City                                                                                                                     1253 non-null   object
 4   Position                                                                                                                 1247 non-null   object
 5   Total years of experience                                                                                                1237 non-null   object
 6   Years of experience in Germany                                                                                           1221 non-null   object
 7   Seniority level                                                                                                          1241 non-null   object
 8   Your main technology / programming language                                                                              1126 non-null   object
 9   Other technologies/programming languages you use often                                                                   1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 11  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 12  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 13  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 14  Number of vacation days                                                                                                  1185 non-null   object
 15  Employment status                                                                                                        1236 non-null   object
 16  Сontract duration                                                                                                        1224 non-null   object
 17  Main language at work                                                                                                    1237 non-null   object
 18  Company size                                                                                                             1235 non-null   object
 19  Company type                                                                                                             1228 non-null   object
 20  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 21  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 22  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
dtypes: float64(4), object(19)
memory usage: 225.3+ KB

In [23]:
df.dtypes

Timestamp                                                                                                                   object
Age                                                                                                                        float64
Gender                                                                                                                      object
City                                                                                                                        object
Position                                                                                                                    object
Total years of experience                                                                                                   object
Years of experience in Germany                                                                                              object
Seniority level                                                                                                             object
Your main technology / programming language                                                                                 object
Other technologies/programming languages you use often                                                                      object
Yearly brutto salary (without bonus and stocks) in EUR                                                                     float64
Yearly bonus + stocks in EUR                                                                                                object
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                   float64
Annual bonus+stocks one year ago. Only answer if staying in same country                                                    object
Number of vacation days                                                                                                     object
Employment status                                                                                                           object
Сontract duration                                                                                                           object
Main language at work                                                                                                       object
Company size                                                                                                                object
Company type                                                                                                                object
Have you lost your job due to the coronavirus outbreak?                                                                     object
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                          float64
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR     object
dtype: object

In [24]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Сontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],
      dtype='object')

In [33]:
#Renaming the columns to get work handy
df=df.rename(columns={
       'Total years of experience':'exp', 'Years of experience in Germany':'German_exp',
        'Your main technology / programming language':'prog_lang',
       'Other technologies/programming languages you use often':'oth_prog_lang',
       'Yearly brutto salary (without bonus and stocks) in EUR':'salary',
       'Yearly bonus + stocks in EUR':'bonus',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country':'Annual_sal',
       'Annual bonus+stocks one year ago. Only answer if staying in same country':'Annual_bonus',
       'Number of vacation days':'vacation_days' ,
       'Main language at work':'Working_language',
       'Have you lost your job due to the coronavirus outbreak?':'Job_loss',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week':"Forced",
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR':'Work_from_home'
      })

In [35]:
#Null_Values
df.isnull().sum()

Timestamp              0
Age                   27
Gender                10
City                   0
Position               6
exp                   16
German_exp            32
Seniority level       12
prog_lang            127
oth_prog_lang        157
salary                 0
bonus                424
Annual_sal           368
Annual_bonus         639
vacation_days         68
Employment status     17
Сontract duration     29
Working_language      16
Company size          18
Company type          25
Job_loss              20
Forced               880
Work_from_home       791
dtype: int64

In [36]:
df.isnull().sum().sum()

3682

In [45]:
#Dropping the unimportant columns
df=df.drop(['Work_from_home','Forced','Annual_sal','Annual_bonus','bonus'],axis=1)

In [46]:
df.dt

Timestamp             object
Age                  float64
Gender                object
City                  object
Position              object
exp                   object
German_exp            object
Seniority level       object
prog_lang             object
oth_prog_lang         object
salary               float64
vacation_days         object
Employment status     object
Сontract duration     object
Working_language      object
Company size          object
Company type          object
Job_loss              object
dtype: object

In [47]:
#HandlingNullValues
df.isnull().sum().sum()

580

In [54]:
df=df.fillna({'Gender':'Not_Known', 'City':'Not_Known', 'Position':'Not_Known',
       'Seniority level':'Not_Known', 'prog_lang':'Not_Known', 'oth_prog_lang':'Not_Known',
       'vacation_days':'Not_Known', 'Employment status':'Not_Known', 'Сontract duration':'Not_Known',
       'Working_language':'Not_Known', 'Company size':'Not_Known', 'Company type':'Not_Known', 'Job_loss':'Not_Known'}
      )

In [101]:
#Variables having integer as values got handled here
#interpolate function #linear by default
df=df.interpolate()

In [71]:
df.isnull().sum()

Timestamp             0
Age                   0
Gender                0
City                  0
Position              6
exp                  16
German_exp           32
Seniority level       0
prog_lang             0
oth_prog_lang         0
salary                0
vacation_days         0
Employment status     0
Сontract duration     0
Working_language      0
Company size          0
Company type          0
Job_loss              0
dtype: int64

In [97]:
df=df.fillna(0)

In [98]:
df.isnull().sum()

Timestamp            0
Age                  0
Gender               0
City                 0
Position             0
exp                  0
German_exp           0
Seniority level      0
prog_lang            0
oth_prog_lang        0
salary               0
vacation_days        0
Employment status    0
Сontract duration    0
Working_language     0
Company size         0
Company type         0
Job_loss             0
dtype: int64

In [99]:
df.isnull().sum().sum()

0