In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("/content/WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [4]:
dataset.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [5]:
dataset.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [6]:
 dataset.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [7]:
dataset.isnull().sum().sum()

0

In [8]:
dataset.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [9]:
dataset['TotalCharges']=pd.to_numeric(dataset['TotalCharges'],errors="coerce")

In [10]:
dataset.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [11]:

 cat_col=[fea for fea in dataset.columns if dataset[fea].dtypes=="O"]
 num_col=[fea for fea in dataset.columns if dataset[fea].dtypes != "O"]

In [12]:
num_col

['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']

In [13]:
cat_col

['customerID',
 'gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Churn']

In [14]:
 from sklearn.preprocessing import LabelEncoder
 lr=LabelEncoder()
 for fea in cat_col:
  dataset[fea]=lr.fit_transform(dataset[fea])

In [15]:
dataset.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5375,0,0,1,0,1,0,1,0,0,...,0,0,0,0,0,1,2,29.85,29.85,0
1,3962,1,0,0,0,34,1,0,0,2,...,2,0,0,0,1,0,3,56.95,1889.50,0
2,2564,1,0,0,0,2,1,0,0,2,...,0,0,0,0,0,1,3,53.85,108.15,1
3,5535,1,0,0,0,45,0,1,0,2,...,2,2,0,0,1,0,0,42.30,1840.75,0
4,6511,0,0,0,0,2,1,0,1,0,...,0,0,0,0,0,1,2,70.70,151.65,1

In [16]:
from sklearn.model_selection import train_test_split
X=dataset.iloc[:,1:20].values
y=dataset.iloc[:,-1:].values
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,test_size=0.2)

In [17]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(5634, 19)
(1409, 19)
(5634, 1)
(1409, 1)

In [18]:
dataset['Churn'].dtypes

dtype('int64')

In [19]:

# Importing the Keras libraries and packages
import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [20]:

classifier=Sequential()

classifier.add(Dense(units=10,activation='relu',input_dim =19))

classifier.add(Dense(units = 1, activation = 'softmax'))

In [21]:
classifier.compile(optimizer = 'SGD', loss = 'binary_crossentropy',metrics=['accuracy'])

In [22]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                200

 dense_1 (Dense)             (None, 1)                 11

=================================================================
Total params: 211 (844.00 Byte)
Trainable params: 211 (844.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [36]:

model_history=classifier.fit(X_train,y_train,batch_size=50,epochs=5,validation_split=0.75)

Epoch 1/5
29/29 [==============================] - 0s 15ms/step - loss: nan - accuracy: 0.7379 - val_loss: nan - val_accuracy: 0.7357
Epoch 2/5
29/29 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.7379 - val_loss: nan - val_accuracy: 0.7357
Epoch 3/5
29/29 [==============================] - 0s 14ms/step - loss: nan - accuracy: 0.7379 - val_loss: nan - val_accuracy: 0.7357
Epoch 4/5
29/29 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.7379 - val_loss: nan - val_accuracy: 0.7357
Epoch 5/5
29/29 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.7379 - val_loss: nan - val_accuracy: 0.7357

In [27]:
y_pred=classifier.predict(X_test)
y_pred =(y_pred>=0.5)

45/45 [==============================] - 0s 2ms/step

In [28]:
from sklearn.metrics import confusion_matrix

In [29]:
confusion_matrix(y_test,y_pred)

array([[1026,    0],
       [ 383,    0]])

In [30]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
accuracy_score(y_test,y_pred)

0.7281760113555713

# ***`New Section`***

In [ ]:
#Dear sir/mam
#Dataset was not provided by the institute ,so i was not able to follow the complete procedure. Howeveri did a small classification problem.I know that i am going too fast and way ahead of the live session class,but i promise to do this assignment again when dataset link is provided